Language: Cpp

IndentWidth: 4
ColumnLimit: 100
MaxEmptyLinesToKeep: 2

AlignConsecutiveAssignments:  true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines:  true
AlignOperands:         true
AlignTrailingComments: true

BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true

AlwaysBreakTemplateDeclarations: true
KeepEmptyLinesAtTheStartOfBlocks: false

SortUsingDeclarations: true

PointerAlignment:     Left
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators:  true

FixNamespaceComments: false
NamespaceIndentation: All
ReflowComments: true

IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^"(aex)'
    Priority:        1
  - Regex:           '<[[:alnum:].]+>'
    Priority:        3
  - Regex:           '.*'
    Priority:        2